- flash.each do |key, value|
  .alert{ class: "alert-#{key}" }
    %button.close{ data: { dismiss: "alert" } } x
    %strong
      = value
= @current_user.present? ? @current_user.email : "guest"
.col-xs-12
  .panel.panel-primary
    .panel-heading Please fill in contact form:
    .panel-body
      .container
        .form-group.form-horizontal
          = simple_form_for @contact_request, html: { multipart: true },  url: contact_requests_path do |f|
            = f.input :name, label: t('.name'), as: :string, required: true
            = view_object(:contact_request_errors, form: @contact_request, attribute: :name).html
            = f.input :email, label: t('.email'), as: :string, required: true
            = view_object(:contact_request_errors, form: @contact_request, attribute: :email).html
            = f.input :subject,label: t('.subject'), as: :string, required: true
            = view_object(:contact_request_errors, form: @contact_request, attribute: :subject).html
            = f.input :comment,label: t('.comment'), as: :string, required: true
            = view_object(:contact_request_errors, form: @contact_request, attribute: :comment).html
            = f.input :file, label: t('.attachment'), as: :file
            = view_object(:contact_request_errors, form: @contact_request, attribute: :file).html

            = f.submit I18n.t('.submit')
  %p
    = link_to(t('.complaint_link'), new_complaint_path)
  - if user_signed_in?
    %p
      = link_to(I18n.t('.logout'), destroy_user_session_path, :method => :delete)
    %p
    - if current_user.admin?
      = link_to(I18n.t('.admin_panel'), admin_path)
  - else
    %p
      = link_to(I18n.t('.login'), new_user_session_path)
