- if user_signed_in?
  %li
    = link_to('Logout', destroy_user_session_path, :method => :delete)
- else
  %li
    = link_to('Login', new_user_session_path)
.col-xs-8
  .panel.panel-primary
    .panel-heading Please fill in contact form:
    .panel-body
      .container
        .form-group.form-horizontal
          = simple_form_for @contact_request, url: contact_requests_path do |f|
            = f.input :name, label: t('.name'), as: :string, required: true
            = f.input :email, label: t('.email'), as: :string, required: true
            = f.input :subject,label: t('.subject'), as: :string, required: true
            = f.input :comment,label: t('.comment'), as: :string, required: true
            = f.input :file, label: t('.attachment'), as: :file

            = f.submit I18n.t('.submit')

